@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(255, 255, 255, 1);
  --foreground-color: rgba(9, 9, 11, 1);
  --accent-color: rgba(113, 113, 122, 1);
  --destructive-color: rgba(226, 29, 73, 1);
}

body {
  background-color: var(--primary-color);
}
